안녕하세요.<br><br>
수강생 여러분~!

"Challenge : Chapter05 ~ 08 문제풀기"는 잘 풀어보셨나요?


너~~무 어려웠어요! 하는 분들을 위해 만들어봤습니다!

문제 도장깨기 !!!!!

차근차근 풀어나가면 파이썬 정복 가능입니다!

화이팅 !


Chapter05~08의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

<br>

[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>
<br>

-----

<br>

__[문제1]__

코딩나라는 파이썬 문법을 통해 타이틀을 바꿔주면 신분을 변경할 수 있습니다.
평민이 왕의 타이틀을 뻇으려고 합니다.
평민의 신분상승 도와주세요 ! 그리고 출력으로 확인시켜주세요 !

<br>
출력 예)

평민은 이제 '왕'

왕은 이제 '평민'
<br>

In [2]:
commoner = "평민"
king = "왕"

print(f'{commoner}은 이제\'{king}\'')
print(f'{king}은 이제\'{commoner}\'')

평민은 이제'왕'
왕은 이제'평민'

<br>

__[문제2]__

꿈에서 숫자가 보였습니다.

바로 로또를 사려고 하는데 앗 숫자가 너무 길어요 !

정수부분만 잘라서 로또 번호를 골라보기로 했습니다.

122211170788345.273782741828653689149813 정수 부분만 출력해주세요.


<br>

In [13]:
num = 122211170788345.273782741828653689149813

#실수표현이 2번째 자리에서 올림으로 표현이 되어서 문자열로 바꿔서 진행했습니다.
numberToString = "122211170788345.273782741828653689149813"

#실수로 표현된 문자열을 바로 INT 형으로 바꾸려고하니 에러!!
# stringToNumber = int(numberToString)

#실수로 먼저 표현해주고 정수로 바꾸니 해결 완료!
stringToNumber = int(float(numberToString))

print(f'실수 : {numberToString}')
print(f'정수로 변환 : {stringToNumber}')

실수 : 122211170788345.273782741828653689149813
정수로 변환 : 122211170788345

<br>

__[문제3]__


sentence 변수를 할당하고, 양쪽 공백을 제거한 후 출력해주세요 !

<br>

__sentence = " Hello World!  "__

In [17]:
sentence = " Hello World! "

spaceRemove = ''.join(sentence.split(' '))

print(f'이전 모습: {sentence}')
print(f'공백 제거한 모습: {spaceRemove}')

이전 모습:  Hello World!
공백 제거한 모습: HelloWorld!

<br>__[문제4]__

산만이가 집중력 테스트를 하기로 합니다.

아주아주 긴 문자열이 있는데 여기에서 s의 횟수를 세보라고 합니다.

파이썬을 배운 산만이에게는 꼼수가 있습니다.

어떤 꼼수를 사용했을지 코드로 작성하고, 출력해주세요 !

<br>

__str = "sdsdsddddddsdsssdssssdssssdsdssssssssssdsdsdsdsdssssdsdsssdssssdssssdsdssdsssdssssdssssdsdssdsssdssssdssssdsdssdsssdssssdssssdsdss"__

In [30]:
# a 개수도 확인하기 위해 'a' 도 마지막에 넣어 보았습니다.
# str = "sdsdsddddddsds ssdsss sdssss dsdssss sssss sdsdsdsds dssssds dsssdss ssdsss sdsdssds ssdsss sdssss dsdssdss sdssss dssssds dssdsss dssssds sssdsds sa"
longStr = "sdsdsddddddsdsssdssssdssssdsdssssssssssdsdsdsdsdssssdsdsssdssssdssssdsdssdsssdssssdssssdsdssdsssdssssdssssdsdssdsssdssssdssssdsdssa"

sCount = longStr.count('s')
aCount = longStr.count('a')

print(f's 의 개수는? {sCount}')
print(f'a 의 개수는? {aCount}')

s 의 개수는? 91
a 의 개수는? 1

__[문제5]__


변수 data에 "apple, banana, cherry"를 할당하고, 이를 쉼표 기준으로 분리하여 출력해주세요 !

In [36]:
data = "apple, banana, cherry"

separation = data.split(',')

print(separation)

['apple', ' banana', ' cherry']