안녕하세요. 수강생 여러분~! Chapter14 ~ 16 수업은 잘 들으셨나요?

Chapter14 ~ 16의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

__[문제1]__

주어진 정수 x와 자연수 n을 이용해, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 출력해주세요   
<br>

x = 2, n =5

In [5]:
list = []
x, n = 2, 5
for i in range(x, x*n +1, x):
    list.append(i)

print(list)

[2, 4, 6, 8, 10]

---

__[문제2]__

전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 *으로 가린 문자열이 출력되도록 코드를 작성해주세요

phone_number = "01012347890"  
<br>

출력 예) "0101234****"

In [9]:
phone_number = "01012347890"

# 뒤에서 4자리 까지 인덱스 번호 저장
hideFirstItemIdx = len(phone_number) - 4

# 숨겨질 번호를 저장하기위한 변수
hidePhoneNumber = ""

# 숨겨진 번호
hide = "****"

# 반복횟수가 hideFirstItemIdx 와 같을때까지 비교하기위한 변수
numberCount = 0

for number in phone_number:
    numberCount += 1
    hidePhoneNumber += number
    if hideFirstItemIdx == numberCount:
        break

# 출력
print(hidePhoneNumber + hide)

0101234****

---

__[문제3]__

숫자를 건넬 때 일부 자릿수를 영단어로 바꾼 카드를 건네주면 프로도는 원래 숫자를 찾는 게임입니다.

다음은 숫자의 일부 자릿수를 영단어로 바꾸는 예시입니다.

1478 → "one4seveneight"  
234567 → "23four5six7"  
10203 → "1zerotwozero3"    

이렇게 숫자의 일부 자릿수가 영단어로 바뀌어졌거나,   
혹은 바뀌지 않고 그대로인 문자열 s가 주어졌을때
s가 의미하는 원래 숫자를 출력하도록 코드를 작성해주세요

s = "77three4one

---
참고로 각 숫자에 대응되는 영단어는 다음 표와 같습니다.

숫자	영단어  
0	zero  
1	one  
2	two  
3	three  
4	four  
5	five  
6	six  
7	seven  
8	eight  
9	nine

In [26]:
# intersection 교집합
# difference 차집합

# 1478 → "one4seveneight"
# 234567 → "23four5six7"
# 10203 → "1zerotwozero3"

numbers = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
englishWords = ("zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine")

# 변경된 문자열을 저장하면서 출력담당
outputString = ""

while True:
    inputString = input("문자열을 입력해주세요 > 종료(q)")
    outputString = inputString

    # 게임 종료문
    if inputString[-1].upper() == 'Q':
        print("프로도 숫자 게임 종료!!")
        break

    # 문자를 숫자로 바꾸는 기능
    for englishWord in englishWords:
        if englishWord in inputString:
            numbersIdx = englishWords.index(englishWord)
            outputString = outputString.replace(englishWord, str(numbers[numbersIdx]))

    print(f'숫자로 출력 : {outputString}')

문자열을 입력해주세요 > 종료(q)one4seveneight
숫자로 출력 : 1478
문자열을 입력해주세요 > 종료(q)23four5six7
숫자로 출력 : 234567
문자열을 입력해주세요 > 종료(q)1zerotwozero3
숫자로 출력 : 10203
문자열을 입력해주세요 > 종료(q)q
프로도 숫자 게임 종료!!

---

__[문제4]__

행렬의 덧셈은 행과 열의 크기가 같은 두 행렬의 같은 행, 같은 열의 값을 서로 더한 결과가 됩니다.

 행렬 arr1과 arr2가 주어졌을 때, 행렬 덧셈의 결과를 출력하는 코드를 작성해주세요(result와 같은 결과가 출력되도록 작성)

arr1 = [[1,2],[2,3]]

arr2 = [[3,4],[5,6]]

result = [[4,6],[7,9]]

In [116]:
arr1 = [[1,2],[2,3]]

arr2 = [[3,4],[5,6]]

resutl = []

# for i, j in arr1, arr2:
#     print(f'i1: {i[0]}, j1: {j[0]}')
#     print(f'i2: {i[1]}, j2: {j[1]}')


for idxA, vArr1 in enumerate(arr1):
    # print(f'i: {idx}, v: {v}')
    print(f"idxA: {idxA}")
    empList = []
    for idxB, vArr2 in enumerate(arr2):
        print(f'idxB: {idxB}')
        # print(f'arr1 : {arr1[idxA][idxB]}')
        print(f'vArr1: {vArr1[idxB]}')
        print(f'vArr2: {vArr2[idxA]}')
        empList.append(vArr1[idxB] + vArr2[idxA])
    # resutl.insert(idxB, empList)
    resutl.append(empList)

print(f'result: {resutl}')

# 머리가 안돌아갑니다... 일단 제출하고 다시 해보겠습니다. 23시52분

idxA: 0
idxB: 0
vArr1: 1
vArr2: 3
idxB: 1
vArr1: 2
vArr2: 5
idxA: 1
idxB: 0
vArr1: 2
vArr2: 4
idxB: 1
vArr1: 3
vArr2: 6
result: [[4, 7], [6, 9]]

---

__[문제5]__

양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다.   
예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다.   
주어진 x를 이용해 x가 하샤드 수인지 아닌지 검사하는 코드를 작성해주세요

x = 17

----

입출력 예시
x	결과값  
10	true  
12	true  
11	false  
13	false

In [85]:
sum = 0

while True:
    x = input("숫자를 입력하세요 > 종료(q)")

    if x.upper() == 'Q':
        print("프로그램 종료!!")
        break

    # 숫자를 잘 입력하는지 체크
    if not x.isdigit():
        print("숫자를 입력하세요!")
        continue

    inputNum = int(x)

    for char in x:
        sum += int(char)

    if inputNum % sum == 0:
        print(f'입력 숫자: {x} (은)는 하샤드 수 입니다.')
    else:
        print(f'입력 숫자: {x} (은)는 하샤드 수가 아닙니다.')

    sum = 0

숫자를 입력하세요 > 종료(q)a
숫자를 입력하세요!
숫자를 입력하세요 > 종료(q)17
입력 숫자: 17 (은)는 하샤드 수가 아닙니다.
숫자를 입력하세요 > 종료(q)10
입력 숫자: 10 (은)는 하샤드 수 입니다.
숫자를 입력하세요 > 종료(q)12
입력 숫자: 12 (은)는 하샤드 수 입니다.
숫자를 입력하세요 > 종료(q)11
입력 숫자: 11 (은)는 하샤드 수가 아닙니다.
숫자를 입력하세요 > 종료(q)13
입력 숫자: 13 (은)는 하샤드 수가 아닙니다.
숫자를 입력하세요 > 종료(q)465
입력 숫자: 465 (은)는 하샤드 수 입니다.
숫자를 입력하세요 > 종료(q)q
프로그램 종료!!

---

__[문제6]__

String형 배열 seoul의 element중 "Kim"의 인덱스 x를 찾아, "김서방은 x에 있다"는 String을 출력하는 코드를 작성해주세요.   

seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.

seoul = ["Jane", "Kim"]

<br>
출력 예) "김서방은 1에 있다"

In [87]:
seoul = ["Jane", "Kim"]

for idx, v in enumerate(seoul):
    if "Kim" == seoul[idx]:
        print(f'김서방은 {idx}에 있다')

김서방은 1에 있다

---

__[문제7]__

0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 주어집니다.   
numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 출력해주세요

numbers = [5,8,1,0,6,9]

In [100]:
numbers = [5,8,1,0,6,9]

for i in range(0, 10):
    if not i in numbers:
        numbers.append(i)

print(f'numbers 숫자를 모드 더한수: {sum(numbers)}')

numbers 숫자를 모드 더한수: 45